.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #f1f1f1;
    transition: transform 0.3s ease-in-out;
}

.hamburger {
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    height: 2.5rem;
    position: relative;
    z-index: 10000;
}

.navbar.is-open {
    transform: translateX(0);
}

.nav-link-home {
    color: #000;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 4rem;
    position: fixed;
}
.nav-link-employee {
    color: #000;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 7rem;
    position: fixed;

}
.nav-link-contact {
    color: #000;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 32rem;
}
.content {
    margin-left: 250px;
    transition: margin-left 0.3s ease-in-out;
}

.content.is-open {
    margin-left: 0;
}
.navbar-nav{
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column!important;
}
.navbar.is-closed {
    transform: translateX(-250px);
}
.content.is-closed {
    margin-left: 0;
}
