@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&family=Rubik:ital,wght@1,500&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #2084f7;
  background: -webkit-linear-gradient(to right bottom, #2084f7);
      background: linear-gradient(to right bottom, #368ABF, #68C6FC);
  transition: transform 0.3s ease-in-out;
  z-index: 20;
}

.hamburger {
  margin-top: 20px;
  left: 40px;
  cursor: pointer;
  height: 2.5rem;
  position: fixed;
  z-index: 10000;
}

.navbar.is-open {
  transform: translateX(0);
}

.nav-link-home {
  color: #7abaff;
  text-decoration: none;
  position: absolute;
  top: 74px;
}
.home {
  top: 74px;
  left: 56px;
  position: absolute;
  width: 1.4rem;
}
.nav-link-employee {
  color: #7abaff;
  text-decoration: none;
  top: 9rem;
  position: absolute;
}
.user {
  width: 1.5rem;
  left: 3.5rem;
  top: 9rem;
  position: absolute;
}
.nav-link-company {
  color: #7abaff;
  text-decoration: none;
  top: 12.5rem;
  position: absolute;
}
.nav-link-contact {
  color: #7abaff;
  text-decoration: none;
  position: absolute;
  top: 30rem;
}
.content {
  margin-left: 250px;
  transition: margin-left 0.3s ease-in-out;
}

.content.is-open {
  margin-left: 0;
}
.navbar-nav {
  display: flex;
  align-items: center;
  margin: 5.6rem;
}
.navbar.is-closed {
  transform: translateX(-250px);
}
.content.is-closed {
  margin-left: 0;
}
.nav-link-contact:hover {
  color: #282c34;
}
.nav-link-home:hover {
  color: #282c34;
}
.nav-link-employee:hover {
  color: #282c34;
}
.icon {
  width: 1.5rem;
  left: 63px;
  position: absolute;
  top: 30rem;
}
.company {
  width: 1.5rem;
  left: 56px;
  position: absolute;
  top: 12.5rem;
}

.nav-icon {
  width: 1.4rem;
  height: 1.4rem;
}

.nav-link-home {
  position: absolute;
  top: 74px;
  display: flex;
  align-items: center;
  left: 40px;
}

.nav-link-user {
  position: absolute;
  top: 134px;
  left: 40px;
  display: flex;
  align-items: center;
}

.nav-link-company {
  position: absolute;
  top: 194px;
  left: 40px;
  display: flex;
  align-items: center;
}

.nav-link-contact {
  position: absolute;
  top: 594px;
  left: 40px;
  display: flex;
  align-items: center;
}

.nav-label {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  margin: 10px ;
}
.nav-label:hover {
  color: #fff;
}
